.container-cadastrar {
    display: flex;
    overflow: hidden;
}

.container-cadastrar article {
    width: 50%;
    min-height: 100vh;
}

.cadastrar-left {
    background-image: url(../assets/img/cadastro-usuario.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cadastrar-left div {
    padding: 2.5rem;
    background-color: #ffffff71;
    color: white;
}

.cadastrar-left div h1 {
    font-size: 40px;
}

.cadastrar-left div {
    text-align: end;
}

.cadastrar-left div a {
    color: white;
}


.cadastrar-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.client-form {
    display: flex;
    flex-direction: column;
    padding: 1rem 2.5rem;
}

.client-form input {
    padding: 0.5rem 5rem 0.5rem 0.5rem;
    margin-bottom: 1rem;
}

.btn-client-form {
    padding: 0.8rem 1rem;
    background-color: black;
    color: white;
    border: transparent;
}

.btn-sair-cadastrar {
    position: absolute;
    top: 50px;
    right: 50px;
}

@media (max-width:768px) {
    .cadastrar-left {
        display: none;
    }
    #cadastrar-right {
        width: 100%;
    }
}