
.container-clientes {
    padding: 1.5rem;    
}
.container-clientes h2 {
    margin-bottom: 1rem;
}
.container-clientes nav {
    display: flex;
    justify-content: end;
    margin: 1rem 1.5rem;
}
.container-clientes nav input {
    padding: 0.8rem 5rem 0.8rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid silver;
}
.container-clientes ul {
    margin: 1rem 1.5rem;
}
.container-clientes ul li {
    margin-bottom: 1rem;
    border-bottom: 1px solid silver;
    list-style-type: circle;
    padding: 0.8rem 1rem;
    display: flex;
    justify-content: space-between;
}

.container-clientes ul li div p {
    margin-bottom: 0.2rem;
}
