.btn-editar,
.btn-deletar {
    padding: 0.5rem;
    border: transparent;
    cursor: pointer;
}
.btn-deletar {
    background-color: red;
    color: white;
}
.btn-deletar:hover {
    background-color: #ca0e0e;
}

.btn-editar:hover {
    background-color: whitesmoke;
}