.container-dashboard {
    padding: 20px;
    background-color: #f9f9f9;
}

.container-dashboard article h2 {
    margin-bottom: 1rem;
}

.container-wash-form {
    margin-bottom: 1rem;
    border-bottom: 1px solid silver;
}
.container-wash-form h2 {
    margin-bottom: 1rem;
}

.container-wash-form input,
.container-wash-form select {
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid silver;
    margin: 0 1rem 0 0;
}

.btn-washform {
    display: flex;
    padding: 2rem;
    justify-content: end;
}

