.container-editar-cliente {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    align-items: center;
}
.container-editar-cliente h2 {
    text-align: start;
    max-width: 350px;
    width: 100%;
    margin: 0 auto 1.5rem;
    text-align: start;
}
.container-editar-cliente form div {
    display: flex;
    flex-direction: column;
}
.container-editar-cliente form div input {
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    min-width: 350px;
    border-radius: 0.5rem;
    border: 1px solid silver;
}

.btn-salvar-editar {
    margin-right: 1rem;
    background-color: green;
    border: 1px solid green;
    color: white;
}
.btn-salvar-editar,
.btn-cancel-editar {
    padding: 0.8rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.btn-cancel-editar {
    background-color: red;
    border: 1px solid red;
    border-radius: 0.5rem;
    color: white;
}