.container-header {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(63, 63, 63, 0.199);
    position: fixed;
    min-height: 100vh;
    background-color: silver;
}
.container-header nav ul {
    margin: 1rem 0;
    padding: 0;
    list-style: none;
}
.container-header nav ul h2 {

    margin-bottom: 1rem;
}
.container-header nav ul li {
    width: 100%;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
}
.container-header nav ul li a {
    display: block;
    transition: 0.3s;
    cursor: pointer;
    padding: 1rem;
    background-color: white;
    text-decoration: none;
}
.container-header nav ul li a:hover {
    color: red;
}
