
.container-header {
    position: absolute;
    background-color: white;
    top: 5%;
    left: 25%;
    min-width: 50%;
    max-width: 90%;
    box-shadow: 1px 1px 5px silver;
}
.container-header nav ul h3 {
    text-align: start;
    padding: 0.5rem 2rem;
    margin: 1rem 0 0.5rem;
}
.container-header nav ul li a {
    padding: 1rem 2rem;
    display: block;
    background-color: whitesmoke;
}

@media (max-width:1000px) {

}