
.container-login {
    min-height: 100vh;
    display: flex;
}

.container-login article {
    height: 100vh;
    width: 50%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login-left {
    background-color: #fe4646;
    color: white;
}

.login-left h1 {
    margin-bottom: 2rem;
    font-size: 35px;
}

.login-left p {
    margin-bottom: 2rem;
    max-width: 80%;
}

.login-left button {
    padding: 0.5rem 2.5rem;
    border: 1px solid silver;
    background-color: transparent;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
}

.login-right h1 {
    font-size: 35px;
    margin-bottom: 0.5rem;
}

.login-descricao {
    margin-bottom: 1rem;
}

.input-login {
    display: flex;
    flex-direction: column;
}

.input-login input {
    margin: 0.5rem 0;
    background-color: rgb(209, 207, 207);
    padding: 0.8rem 5.5rem 0.8rem 1rem;
    border: transparent;
    font-size: 15px;
}

.btn-logar {
    margin-top: 1rem;
    padding: 0.8rem 2rem;
    border-radius: 0.5rem;
    border-color: transparent;
    background-color: #fe4646;
    color: white;
    font-size: 15px;
    cursor: pointer;
    display: block;
    margin: 1rem auto;
}

.form-login {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.form-login input {
    margin: 0.5rem 0;
    padding: 0.5rem 2rem 0.5rem 1rem;
    font-size: 15px;
    border: 1px solid silver;
    border-radius: 0.5rem;
}

.btn-register {
    cursor: pointer;
}