
.container-login {
    display: flex;
    overflow: hidden;
}

.container-login article {
    width: 50%;
    min-height: 100vh;
}

.login-img {
    border-color: red;
    background-image: url(../assets/img/fundo.jpeg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: fantasy;
}

.login-img h1 {
    font-size: 50px;
    color: white;
    text-shadow: 1px 1px 10px red;
}

.login-img h2 {
    color: white;
    font-size: 40px;
    text-shadow: 1px 1px 10px red;
}

.login-campo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;    
    padding: 0 5rem;
}

.login-campo h2 {
    margin-bottom: 1rem
}

.login-campo form {
    display: flex;
    flex-direction: column;
}

.login-campo form input {
    margin: 1rem 0;
    padding: 0.8rem 1rem;
}

.btn-login {
    padding: 1rem 0;
    border-radius: 0.5rem;
    border: 1px solid silver;
    background-color: transparent;
    cursor: pointer;
}
.btn-login:active {
    transform: scale(0.99);
    animation: 1s;
}

.btn-new-cadastro {
    text-align: center;
    margin-top: 1rem;
    color: black;
}

@media (max-width:768px) {
    .container-login {
        flex-direction: column;
    }
    .login-img {
        display: none;
    }
    #login-campo {
        width: 100%;
    }
}