
.container-new-client {
    padding: 1.5rem;
}

.container-new-client h1 {
    margin-bottom: 1rem;
}

.container-client-form input {
    padding: 0.5rem 1rem;
    font-size: 18px;
    width: 100%;
    margin-bottom: 1rem;
    border: 1px solid silver;
}

.btn-clientform {
    width: 100%;
    text-align: end;
}
.btn-clientform button {
    padding: 1rem 2rem;
    border-color: transparent;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: white;
    box-shadow: 1px 1px 5px silver;
    margin: 1rem 0 0 1rem;
}
.btn-clientform button:hover {
    transform: scale(1.05);
    transition: 0.5s;
}
.btn-clientform button:active {
    transform: scale(1);
}

@media (max-width:750px) {
    .container-new-client {
        padding: 1.5rem 0;
    }
}