
.container-register {
    display: flex;
    overflow: hidden;
}
.container-register article {
    width: 50%;
    min-height: 100vh;
}

.container-register form {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.container-register form input {
    margin: 0 2rem 1rem 2rem;
    padding: 1rem 3rem 1rem 1rem;
    border: 1px solid silver;
    border-radius: 0.5rem;
}

.btn-register {
    margin: 0 2rem;
    padding: 1rem 0;
    background-color: black;
    color: white;
    border-color: transparent;
    border-radius: 0.5rem;
    cursor: pointer;
}

.register-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-right h2 {
    margin: 0 0 1rem 2rem;
}

.register-left {
    background-image: url(../assets/img/fundo-new-acccont.png);
    background-size: cover;
}

@media (max-width:768px) {
    .register-left {
        display: none;
    }
    #register-right {
        width: 100%;
    }
}